/*
 * ---------Style sheet for the Testimonial Basics Plugin Admin Panel ------------ 
 */
.wrap {min-width: 900px;}

.wrap p {font-size:1.0em;}

.wrap h3 {font-size:1.4em;}

.katb_admin_form input,.katb_admin_form textarea {margin-left:5px;}

.katb_admin_id,.katb_admin_author,.katb_admin_location,.katb_admin_test 
{
	float:left;
	width:100px;
	text-align: right;
}

.katb_paypal {
	float: right;
	font-style: italic;
	font-weight : bold;
}
