/* HTML5-specific CSS setup */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block }
 
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: normal;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}


img, fieldset { border: 0; }
q:before, q:after { content:'"'; }


/* --------------------------------------------------------------
 *                       GLOBAL STYLES
 * --------------------------------------------------------------*/

body {font-size: 62.5%;}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;margin:10px 0px 10px 0px;
}

h1 {
	font-size: 24px;
	background: url(images/shade.png);
}

h2 {font-size: 22px;}

h3 {font-size: 20px;}

h4 {font-size: 18px;}

h5 {font-size: 16px;}

h6 {font-size: 14px;}

p {font-size: 12px;}

blockquote {
	font-weight:bold; 
	font-style:italic;
	font-size: 12px;
}

code {
	font-size:12px;
	line-height:1.5em;
	background: url(images/shade.png);
}

em {color:red;}

/*
 * -------------Lists---------------- */

ul{
	padding-left:30px;
	font-size:12px;
}

ul li { list-style:disc;}

ul li li {list-style:circle;}

ul li li li {list-style: square;}

ol{
	padding-left:20px;
	font-size:12px;
}

ol li {list-style: decimal;}

ol li li {list-style: lower-alpha;}

ol li li li {list-style: lower-roman;}

dt {
	margin:0;
	padding:0;
	font-size:12px;
	font-weight:bold;
}

dl {
	margin:0;
	padding:0;
	font-size:12px;
}

dd {font-size:12px;}

/* ----------------Misc HTML tags ------------------- * 
 */

address {font-size: 12px; font-style: italic;}

pre {font-size:12px;}

.left { float:left; }

.right { float:right; }

.center { text-align:center; }

.aligncenter, div.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

.clearfix {clear:both;}

.clearleft {clear:left;}

.clearright {clear:right;}

/* ----------------- LINKS ------- */

/* default */
a:visited {color:blue;}
a:hover {color:red;}


#pagewrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-top: 0px;
}
